.repository {
  color: white;
  margin: 0 auto;
  padding: 0 50px;
}

.repository-header {
  color: rgb(85, 85, 196);
}

.left {
  display: flex;
  align-items: center;
  flex: 0.8;
}

.right {
  flex: 0.2;
  gap: 30px;
}

.show-repository {
  height: 20px;
  margin-left: 10px;
  border: 1px solid blue;
  border-radius: 10px;
}

.repositories {
  display: flex;
  justify-content: space-between;
}

.right-btn {
  display: flex;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
  width: 100px;
}
