.details__page{
    flex:0.2;
    margin-right: 30px;
    background-color: #171515;
}

.details__icon{
    text-align: center;
    align-items: center;
    display: flex;
}

.details__icon:hover{
    color: red
}

.green{
    color: green;
}

.blue{
    color: blue;
}