/* * {

} */

.header{
    background-color: #171515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 20px;
    margin: 0 auto;
    height: 100px;
    color: white;
    cursor: pointer;
    position: static;
    top: 0;
    z-index: 100;
    max-width: 1300px;
}

.header__overview >a{
    text-decoration: none;
    color: white;
}

.header__overview{
    display: flex;
    align-items: center;
}

.header__overview:hover{
    border-bottom: none;
}

.header__icon{
    color: grey;
}

.header__icon:hover  {
color: gold;
}
