

.user{
    flex: 0.3;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 120px;
    background-color: rgb(18, 18, 34);
    color: white;
}

.user__image{
    border-radius: 50%;
}

.username{
    color: grey;
}

.user__btn{
width: 100%;
height: 40px;
background-color: grey;
color: white;
border-radius: 10px;
font-size: larger;
}

.loc{
    display: flex;
    align-items: center;
}

.line__break{
    border: 0.1px dotted rgb(161, 159, 159);
}